body, p, div, article, section, header, figure, h1, h2, h3, h4, h5, h6, button, input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #10171e;
  color: #fff;
  font-size: 14px;
  font-family: "Segoe UI",Arial,sans-serif;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loading-icon {
  display: block;
  margin: 120px auto;
  width: 200px;
}

.align-right {
  position: absolute;
  right: 0;
}

.bottombar {
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  padding: 0 22px;
  height: 50px;
  overflow: hidden;
  z-index: 100;
  color: #8899A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.bottombar .pagination {
  background: #1c2938;
  padding: 0 12px;
  border-radius: 25px;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
}

.bottombar .pagination button {
  background: #15202b;
  border: 1px solid #1DA1F2;
  outline: 0;
  border-radius: 50%;
  color: #1DA1F2;
  width: 24px;
  height: 24px;
  font-size: 9px;
  cursor: pointer;
}

.bottombar .pagination button:first-of-type {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}

.bottombar .pagination button:last-of-type {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bottombar .pagination button:hover, .bottombar .pagination button:active {
  background-color: #1B3448;
}

.bottombar .pagination input {
  background-color: #182430;
  border-radius: 21px;
  border: 1px solid #38444d;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  text-align: center;
  width: 3rem;
  margin-right: 8px;
}

.bottombar .pagination input:focus {
  outline: 0;
  border: 2px solid #1DA1F2;
}

.bottombar .pagination div {
  margin-right: 8px;
  font-size: 12px;
}

.list-container {
  padding: 20px;
}

.list-container .list-content {
  -webkit-column-width: 400px;
          column-width: 400px;
}

@media print {
  .list-container {
    position: relative;
    overflow: visible;
  }
}

.card {
  position: relative;
  max-width: 510px;
  min-height: 51px;
  background-color: #15202b;
  border-radius: 8px;
  color: #292F33;
  font-size: 14px;
  font-family: "Segoe UI",Arial,sans-serif;
  line-height: 1.3em;
  margin: 0 auto 44px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid-column;
}

.card.active .tweet {
  -webkit-box-shadow: inset 0px 0px 0px 4px #1DA1F2;
  box-shadow: inset 0px 0px 0px 4px #1DA1F2;
}

.card a, .card a:visited {
  color: #1DA1F2;
  text-decoration: none;
}

.card a[href]:hover {
  text-decoration: underline;
}

.card .tweet {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
}

.card header .author {
  line-height: 1.5em;
  margin-left: 58px;
  margin-bottom: 15px;
}

.card header .author::before {
  content: " ";
  width: 48px;
  height: 48px;
  position: absolute;
  left: 40px;
  border-radius: 50%;
  background-color: #CCD6DD;
}

.card header .author::after {
  clear: both;
}

.card header .author b.username {
  color: #14171a;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.card header .author span.tag {
  display: block;
  color: #657786;
}

.card header .message {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: .01em;
}

.card div.target {
  border: 1px solid #E1E8ED;
  border-radius: 12px;
  margin-top: 20px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.card div.target:hover {
  background: #F5F8FA;
  border-color: rgba(136, 153, 166, 0.5);
}

.card div.target::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
}

.card div.target:focus {
  outline: 0;
}

.card div.target:focus::after {
  -webkit-box-shadow: inset 0px 0px 0px 2px #1DA1F2;
  box-shadow: inset 0px 0px 0px 2px #1DA1F2;
}

.card div.target figure.media {
  overflow: hidden;
  max-height: 250px;
}

.card div.target figure.media img {
  width: 100%;
}

.card div.target div.summary {
  padding: 0.75em 1em;
}

.card div.target h2.title {
  font-size: 1em;
  margin: 0 0 .15em;
  max-height: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card div.target p.description {
  margin-top: .32333em;
  max-height: 2.6em;
  overflow: hidden;
}

.card div.target a.sharedlink {
  margin-top: .32333em;
  display: block;
  text-transform: lowercase;
  max-height: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8899A6;
}

.card div.target a.sharedlink:hover {
  text-decoration: none;
}

.card time.timestamp {
  color: #657786;
  line-height: 24px;
  margin-top: 10px;
  display: block;
}

.card footer {
  color: #8899A6;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card footer div {
  padding: 10px;
  width: 33.333%;
}

.card footer div.left {
  padding-left: 22px;
}

.card footer div.center {
  text-align: center;
}

.card footer div.right {
  text-align: right;
  padding-right: 22px;
}

.card footer progress.truth {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  background-color: #163043;
  color: #1da1f2;
  border: 0;
  border-radius: 2px;
  display: block;
  margin: 12px auto;
}

.card footer progress.truth::-moz-progress-bar {
  background-color: #163043;
  border: 0;
  border-radius: 2px;
}

.card footer progress.truth::-webkit-progress-bar {
  background-color: #163043;
  border: 0;
  border-radius: 2px;
}

.card footer progress.truth::-moz-progress-value {
  background-color: #1da1f2;
  border: 0;
  border-radius: 2px;
}

.card footer progress.truth::-webkit-progress-value {
  background-color: #1da1f2;
  border: 0;
  border-radius: 2px;
}

.card footer code.entry-id {
  color: #163043;
}

.card.clickbait footer progress.truth {
  color: #f11d1d;
}

.card.clickbait footer progress.truth::-moz-progress-value {
  background-color: #f11d1d;
}

.card.clickbait footer progress.truth::-webkit-progress-value {
  background-color: #f11d1d;
}

.striked-text {
  position: relative;
  display: inline-block;
  opacity: 0.5;
}

.striked-text::after {
  content: " ";
  border-bottom-width: 0.5em;
  border-bottom-style: solid;
  width: 100%;
  position: absolute;
  right: 0;
  top: 40%;
}

.striked-text span {
  color: rgba(0, 0, 0, 0);
}

.no-scroll {
  overflow: hidden;
}

*[data-title] {
  position: relative;
}

*[data-title]::before {
  content: attr(data-title);
  position: absolute;
  top: -50%;
  left: 50%;
  max-width: 300px;
  padding: 8px 12px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

*[data-title]:hover::before {
  opacity: 1;
}

.target-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: none;
  opacity: 0;
  z-index: 200;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.target-overlay:focus {
  outline: 0;
}

.target-overlay .close-icon {
  position: fixed;
  top: 20px;
  right: 40px;
  margin: 20px;
}

.target-overlay article {
  background-color: #fff;
  color: #292F33;
  max-width: 21cm;
  border-radius: 9px;
  margin: 50px auto;
}

.target-overlay article a, .target-overlay article a:visited {
  color: #1DA1F2;
  text-decoration: none;
}

.target-overlay article a[href]:hover {
  text-decoration: underline;
}

.target-overlay article figure {
  overflow: hidden;
  max-height: 75vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.target-overlay article figure img {
  width: 100%;
}

.target-overlay article section {
  padding: 30px 80px;
}

.target-overlay article h1 {
  font-size: 2.4em;
  margin: 2.6rem 0;
  line-height: 2.6rem;
}

.target-overlay article p {
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.target-overlay article p[data-word-count="1"] {
  display: inline-block;
  font-size: 14px;
}

.target-overlay article p[data-word-count="1"]::after {
  content: "\000a0\000a0";
}

.target-overlay article footer {
  font-size: 14px;
  color: #657786;
  margin-bottom: 2.6rem;
  text-align: center;
}

.target-overlay article footer span {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.target-overlay article footer::before {
  content: " ";
  display: block;
  margin: 40px auto;
  width: 20%;
  border: 2px solid #E1E8ED;
  border-radius: 2px;
}

body.overlay-visible {
  overflow: hidden;
  margin-right: 16px;
}

body.overlay-visible .target-overlay {
  pointer-events: all;
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 600px) {
  .target-overlay article section {
    padding: 30px 40px;
  }
}

.close-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.close-icon:hover::before, .close-icon:hover::after {
  background: #1DA1F2;
}

.close-icon::before, .close-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: #fff;
  border-radius: 5px;
  height: 2px;
  margin-top: -1px;
}

.close-icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
